<div class="container text-center">
  <h1 class="">
    <a [routerLink]="['']" style="color:black">Top 100 Cryptos</a> | <a style="color:black" [routerLink]="['/bitcoinStats']">Bitcoin Price Charts</a>
  </h1>
    <hr class="bg-dark">
  <h4 class="">
    Market Cap: <span class="btcBlue font-weight-bold" [innerHTML]="bitcoinMarketCap.total_market_cap_by_availabel_supply_usd | currency"></span>|
    24h Vol. <span class="btcBlue font-weight-bold" [innerHTML]="bitcoinMarketCap.total_volume_usd"></span>|
    BTC Dominance: <span class="btcBlue font-weight-bold" [innerHTML]="bitcoinMarketCap.bitcoin_percentage_of_market_cap*.01 | percent: '1.1-2'"></span>
  </h4>
    <hr class="bg-dark">
    <router-outlet></router-outlet>
</div>

